.comment {
  display: flex;
  height: fit-content;
  padding: 0.5rem;
  border: 1px solid #eff3f4;
}

.postContents {
  display: flex;
  flex-direction: column;
}

.headerContents {
  display: flex;
  align-items: center;
}

.headerContents h4 {
  max-width: 10rem;
  font-size: 1rem;
  margin-right: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerContents p {
  color: gray;
  font-size: 0.96rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.postText {
  max-width: 22rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  overflow-wrap: break-word;
}

.comment:hover {
  background-color: rgba(231, 235, 232, 0.2);
  cursor: pointer;
}

.comments {
  display: flex;
  align-items: center;
}

.comments p {
  font-size: 0.85rem;
}

.comments:hover {
  color: #1d9bf0;
}

.comments:hover .icon {
  color: #1d9bf0;
  border-radius: 50%;
  background-color: rgba(29, 155, 240, 0.2);
}
