.container {
  /* width: 100%; */
  display: flex;
  height: fit-content;
  padding: 0.75rem;
}

.profilePic {
  margin-right: 1rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
}

.postBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.postBox textarea {
  width: 20rem;
  padding: 5px;
  outline: none;
  border: none;
  resize: none;
}

.postBox textarea::-webkit-scrollbar {
  display: none;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1d9bf0;
}

.photoIcon {
  height: 1.75rem;
  padding: 0.25rem;
}

.photoIcon:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(29, 155, 240, 0.2);
}

.tweetButton {
  width: 15rem;
  color: white;
  background-color: #1d9bf0;
  padding: 0.35rem 1.75rem;
  border-radius: 1.25rem;
  border: none;
}

.tweetButton:hover {
  cursor: pointer;
  background-color: #1d9bcf;
}
