.feed {
  flex-grow: 1;
  max-width: 38rem;
  /* margin-left: 460px; */
  /* margin-left: 1462px;   */
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #e5e7eb;
  border: 1px solid #eff3f4;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

.homeBar {
  position: sticky;
  top: 0;
  padding: 10px;
  padding-left: 0.9375rem;
  /* backdrop-filter: blur(10px); */
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #eff3f4;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}
