@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

:root {
  --primary-color: rgb(29, 155, 240);
  --primary-alpha: rgb(29, 155, 240, 0.1);
  --primary-hover: rgb(26, 140, 216);
  --white: rgb(239, 243, 244);
  --black: rgb(15, 20, 25);
  --dark-white: rgb(207, 217, 222);
  --grey: rgb(83, 100, 113);
  --black-alpha: rgba(15, 20, 25, 0.2);
  --background-color: white;
  --pink: rgb(249, 24, 128);
  --pink-alpha: rgb(249, 24, 128, 0.1);
  --green: rgba(0, 200, 0, 1);
  --success: rgba(0, 200, 0, 0.4);
  --success-alpha: rgba(0, 200, 0, 0.2);
  --green-alpha: rgba(0, 200, 0, 0.2);
  --error: rgba(200, 0, 0, 0.4);
  --bg-color: white;
}

html,
body {
  width: 100%;
  height: 100dvh;
  background-color: var(--background-color);
  font-size: 15px;
}

input[type="file"] {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.btn {
  padding: 0.8rem 1rem;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  font-size: 1rem;
  width: max-content;
  justify-content: center;
  align-items: center;
  color: currentColor;
  gap: 0.8rem;
}

.btn-bordered {
  border: 1px solid var(--dark-white);
}

.btn-ghost:hover {
  background-color: var(--white);
}

.text-primary {
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-disabled {
  background-color: var(--dark-white);
}
.btn-primary:hover {
  background-color: var(--primary-hover);
}

textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  font-size: 1.4rem;
}

.h-divider {
  width: 100%;
  height: 1px;
  margin: 0.5rem 0;
  background-color: var(--dark-white);
}

.btn-icon {
  width: max-content;
}

.btn-icon:hover {
  background-color: var(--primary-alpha);
}

.appbar {
  height: 4rem;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 0 1rem;
  font-size: 1.4rem;
  border-bottom: 0.8px solid var(--white);
  color: var(--black);
  z-index: 2;
}

.center-container {
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  border-right: 0.8px solid var(--white);
  position: relative;
}

.modal {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  background-color: white;
}

.h-divider-or {
  width: 100%;
  height: 1px;
  background-color: var(--dark-white);
  position: relative;
  font-size: 1.2rem;
  color: var(--black);
  margin: 1rem 0;
}

.h-divider-or::before {
  content: "or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  padding: 0 1rem;
  text-align: center;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-full {
  width: 100%;
}

.screen {
  width: 100vw;
  height: 100vh;
}

.h-full {
  height: 100%;
}

.tabbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--white);
}

.tabbar .tab {
  height: 100%;
  width: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 200ms ease-in-out;
  width: 700;
}

.tabbar .tab:hover {
  background-color: var(--white);
}

.tabbar .selected {
  border-bottom: 3px solid var(--primary-color);
  color: var(--black);
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toast {
  padding: 1rem 1rem;
  border-radius: 10px;
  font-size: 1.1rem;
  display: flex;
  padding-right: 2rem;
  align-items: center;
  gap: 1rem;
}

.toast.success {
  background-color: var(--success);
  box-shadow: 0 0 1rem var(--success);
}

.toast.error {
  background-color: var(--error);
  box-shadow: 0 0 1rem var(--error);
}

.loader {
  width: 1.2em;
  height: 1.2em;
  border: 0.2em solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  opacity: 0.8;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.6rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: red;
}
