.profileContainer {
  /* background: rgb(230, 230, 230); */
  width: 250px;
  margin-left: 10px;
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileContainer:hover {
  background-color: rgba(33, 33, 33, 0.2);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.profilePic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileInfo h3 {
  width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profileInfo p {
  font-weight: 100;
  color: rgb(133, 133, 133);
}
