.newsContainer {
  display: flex;
  background-color: #eff3f4;
  padding: 1rem;
  border-radius: 1.5rem;
}

.newsContainer:hover {
  cursor: pointer;
}

.textPart {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.textPart p {
  font-size: 0.9rem;
}

.newsImage {
  width: 5rem;
  height: 5rem;
}
