.post {
  display: flex;
  height: fit-content;
  padding: 0.75rem;
  border-bottom: 1px solid #eff3f4;
}

.post:hover {
  background-color: rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.profilePic {
  margin-right: 1rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
}

.postContents {
  display: flex;
  flex-direction: column;
}

.headerContents {
  display: flex;
  align-items: center;
}

.headerContents h4 {
  width: 15rem;
  font-size: 1rem;
  margin-right: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerContents p {
  color: gray;
  font-size: 0.96rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dot {
  margin: 0 0.25rem;
  width: 0.175rem;
  height: 0.2rem;
  background-color: gray;
  border-radius: 50%;
}

.postText {
  max-width: 30rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  overflow-wrap: break-word;
}

.postPic {
  width: 20rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

.infos {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.comments {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.comments p {
  font-size: 0.85rem;
}

.comments:hover {
  color: #1d9bf0;
}

.comments:hover .icon {
  color: #1d9bf0;
  border-radius: 50%;
  background-color: rgba(29, 155, 240, 0.2);
}

.retweets {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.retweets p {
  font-size: 0.85rem;
}

.retweets:hover {
  color: #19cf86;
}

.retweets:hover .icon {
  color: #19cf86;
  border-radius: 50%;
  background-color: rgba(31, 205, 135, 0.2);
}

.delete {
  display: flex;
  align-items: center;
  /* color: red; */
}

.delete:hover {
  color: red;
}

.delete:hover .icon {
  border-radius: 50%;
  background-color: rgba(255, 67, 67, 0.2);
}

.reactions {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.reactions p {
  font-size: 0.85rem;
}

.reactions:hover {
  /* color: rgb(255,105,180); */
  color: rgb(255, 20, 147);
}

.reactions:hover .icon {
  /* color: rgb(255,105,180); */
  color: rgb(255, 20, 147);
  border-radius: 50%;
  /* background-color: rgba(255,105,180,0.2); */
  background-color: rgba(255, 20, 147, 0.1);
}

.icon {
  height: 1.8rem;
  padding: 6px;
  margin-right: 0.4rem;
}

.liked {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: rgb(255, 20, 147);
}

.liked p {
  font-size: 0.85rem;
}

.liked:hover {
  /* color: rgb(255,105,180); */
  color: white;
}

.liked:hover .icon {
  /* color: rgb(255,105,180); */
  color: white;
  border-radius: 50%;
  /* background-color: rgba(255,105,180,0.2); */
  background-color: rgba(255, 20, 147, 0.1);
}

.optionsIcon {
  width: 16px;
  align-self: flex-start;
  margin-left: auto;
}
