.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: fit-content;
  padding-left: 200px;
  border-right: 1px solid #eff3f4;
  /* border-top-style: none;
  border-bottom-style: none;
  border-left-style: none; */
}

.logoImage {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  border-radius: 50%;
}

.logoImage:hover {
  background-color: lightblue;
  cursor: pointer;
}

.sidebarmenu {
  margin-top: 10px;
}

.tweetButton {
  background-color: #1d9bf0;
  color: white;
  border-radius: 25px;
  height: 50px;
  width: 220px;
  margin-bottom: 40px;
  border: none;
}

.tweetButton:hover {
  /* transform: scale(1.1); */
  background-color: #1d9bcf;
  cursor: pointer;
}

.profileLink {
  margin-bottom: 30px;
}
