.container {
  /* width: 100%; */
  display: flex;
  height: fit-content;
  padding: 0.75rem;
  border: 1px solid #eff3f4;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

.profilePic {
  margin-right: 1rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
}

.postBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.viewers {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.2rem;
  border: 1px solid #eff3f4;
  color: #1d9bf0;
  font-size: 0.85rem;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  /* #eff3f4 */
}

.viewers:hover {
  cursor: pointer;
  background-color: lightblue;
}

.downIcon {
  height: 0.8rem;
}

.postBox textarea {
  width: 30rem;
  padding: 5px;
  outline: none;
  border: none;
  resize: none;
}

.postBox textarea::-webkit-scrollbar {
  display: none;
}

.repliers {
  display: flex;
  align-items: center;
  color: #1d9bf0;
  gap: 0.2rem;
  padding: 0.25rem;
  width: fit-content;
}

.repliers:hover {
  cursor: pointer;
  border-radius: 1.25rem;
  background-color: rgba(29, 155, 240, 0.2);
}

.repliers p {
  font-size: 0.8rem;
  font-weight: 700;
}

.globeIcon {
  height: 0.8rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1d9bf0;
}

.photoIcon {
  height: 1.75rem;
  padding: 0.25rem;
}

.photoIcon:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(29, 155, 240, 0.2);
}

.tweetButton {
  color: white;
  background-color: #1d9bf0;
  padding: 0.35rem 1.75rem;
  border-radius: 1.25rem;
  border: none;
}

.tweetButton:hover {
  cursor: pointer;
  background-color: #1d9bcf;
}

.cancel {
  position: absolute;
  padding: 0.1rem 0.4rem;
  border-radius: 50%;
  background-color: rgba(230, 230, 230, 0.7);
}

.cancel:hover {
  cursor: pointer;
}
