.widgets {
  /* position: fixed;
    margin-left: 1102px;  */
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  top: 1;
  position: sticky;
}

.searchbox {
  top: 0;
  position: sticky;
  width: 100%;
  margin-top: 0.25rem;
  background-color: #eff3f4;
  display: flex;
  /* border: 1px solid gray; */
  padding: 0.5rem;
  border-radius: 1.25rem;
}

.searchbox:hover {
  background-color: rgb(231, 235, 232);
}

.searchbox:hover .inputarea {
  background-color: rgb(231, 235, 232);
}

.inputarea {
  margin-left: 0.5rem;
  width: 90%;
  border: none;
  outline: none;
  background-color: #eff3f4;
}

.inputarea:focus-visible {
  background-color: white;
  color: black;
}

.searchbox:focus-within {
  background-color: white;
  color: #1d9bf0;
  border: 1px solid#1d9bf0;
  pointer-events: none;
}


.searchIcon {
  height: 1.2rem;
  align-items: center;
}

.header {
  align-self: flex-start;
  margin-left: 0.75rem;
  margin-top: 0.75rem;
}

.container {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: #eff3f4;
  padding: 0.5rem;
  border-radius: 1.5rem;
  width: 20rem;
}

.userContainer {
  width: 100%;
  gap: 0.5rem;
  align-self: flex-start;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1.5rem;
}

.userContainer:hover {
  cursor: pointer;
  background-color: rgb(231, 235, 232);
}

.userContainer .textPart h5:hover {
  text-decoration: underline;
}

.textPart {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.textPart p {
  font-size: 0.8rem;
  color: gray;
}

.userProfilePic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid black;
}

.followButton {
  background-color: black;
  color: white;
  border: none;
  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
  margin-left: auto;
}

.followButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}

.more {
  align-self: flex-start;
  padding: 0.75rem;
  margin-right: 0rem;
  color: #1d9bf0;
}

.more:hover {
  cursor: pointer;
  width: 100%;
  border-radius: 2rem;
  background-color: rgb(231, 235, 232);
}